# Temporary Files
temp/

# Node
node_modules/

# Yarn v2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Remove static files.
static/v0/images/*/*
!static/v0/images/*/.gitkeep
